@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #F1FAEE;
    background-color: #2B2D42;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

a{
    color: #F1FAEE;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    background-color: #457B9D;
    height: auto;
    
}

.nav-bar ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-bar a{
    color: #F1FAEE;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-bar a:hover{
    color: #fca311;
    transform: translateY(-5px);
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.links a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 80px;
    padding: 16px;
    height: 45px;
    background-color: #457B9D;
    border-radius: 10px;

    transition: all 0.5s;
}

.links a:hover{
    transform: scale(1.1);
    background-color: #fca311;
}

.separator{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

footer{
    display: flex;
    gap: 2rem;
    margin-top: 2em;
    padding: 1rem;
    background-color: #457B9D;
}